<div class="blackcontainer">
    <div class="container-fluid">
        <div class="row myrow">
            <div class="col-3">

                <img class="logo" src="assets/logo_dark.png">
                <p>
                    elmenus is a startup based in Egypt. We believe that every dining decision should be a social, visual and personalized experience
                    to discover and order the food you will love. Over 2 Million dining decisions take place on elmenus from
                    500K+ dishes and 4000 Restaurants and Growing...
                </p>
            </div>
            <div class="col-sm-3">
                <h2>Useful links</h2>
                <ul>
                    <li>
                        <a href="#">About elmenus</a>
                    </li>
                    <li>
                        <a href="#">Add your menu</a>
                    </li>
                    <li>
                        <a href="#">Careers</a>
                    </li>
                    <li>
                        <a href="#">Advertise with us</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h2>Restaurants</h2>
                <ul>
                    <li>
                        <a href="#">Restaurants in Cairo</a>
                    </li>
                    <li>
                        <a href="#">Restaurants in Alexandria</a>
                    </li>
                    <li>
                        <a href="#">Restaurants in North Coasr</a>
                    </li>
                    <li>
                        <a href="#">Restaurants in El Gouma</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h2>Restaurants</h2>
                <ul>
                    <li>
                        <a href="#">Restaurants in El Mansoura</a>
                    </li>
                    <li>
                        <a href="#">Restaurants in Sharm el Sheikh</a>
                    </li>
                    <li>
                        <a href="#">Restaurants in Ras Sudr</a>
                    </li>
                    <li>
                        <a id="last" href="#">Restaurants in Hurghada</a>
                    </li>
                </ul>
                <div class="email">
                    <span>support@elmenus.com</span>
                </div>
            </div>
        </div>
    </div>
</div>