/* Search private styles */
.results{
  width: 100%;
  z-index: 1;;
  
}
.search-result li {
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  
  
  padding: 5px;
  padding-left: 45px;
  background-color: white;
  cursor: pointer;
  list-style-type: none;
  

}

.search-result li:hover {
  background-color: #607D8B;
  opacity: 1;
 
}

.search-result li a {
  color: #888;
  display: block;
  text-decoration: none;
 
}

.search-result li a:hover {
  color: white;
 
}
.search-result li a:active {
  color: white;
  
}
ul.search-result {
  margin-top: 0;
  padding-left: 0;
}




.search-container{
  background-color: #fff;
  width: 100%;
    height: 100%;
  border-radius: 0.25rem;
  border-right-style: none;
  padding-right: 0;
  height: inherit;

}


.myform-control {
  display: inline-block;
  width: 81%;
  margin: 0;
  
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border-style: none;

  font-size: 24px;
  font-family: "Fira Sans",Helvetica,Arial,sans-serif;
  font-weight: 500;
}



.fa {
    
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 18px;
    top: -5px;
    padding-left: 15px;

    color: #aaa;
}


.fa-right{
  float: right;
  
  padding-top: 15px;
  padding-bottom: 15px;
  
  background: #e65339;
  box-sizing: border-box;
  padding-left: 26px;
  padding-right: 28px;
  margin: 0;
  margin-right: 0;
  color: #fff;
  border-radius: 0 5px 5px 0;
  

} 



/* .search-container{
  background-color: #fff;
  width: 100%;
  height: 100%;
  border-radius: 0.25rem;
  
}
.myform-control{
  left: 10px;
  position: relative;
  width: calc(100% - 150px);
  height: 100%;
  display: inline-block;
  margin: 0 1px 0 0;
  border: none;
  font-size: 24px;
  font-family: "Fira Sans",Helvetica,Arial,sans-serif;
  font-weight: 500;
}
.fa{
  display: inline-block;
  position: relative;
  font-size: 19px;
  padding: 15px 25px 15px 25px;
  margin: 0;
}
.fa-left{
  left: 0;
  color: #aaa;
}
.fa-right{
  right: 0;
  background: #e65339;
  color: #fff;
  border-radius: 0 5px 5px 0;
  padding-left: 27px;
  
} */