<h2>My Restaurants</h2>

<div>
  <label>Restaurant name:
    <input #restaurantName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(restaurantName.value); restaurantName.value=''">
    add
  </button>
</div>

<ul class="restaurants">
  <li *ngFor="let restaurant of restaurants">
    <a routerLink="/detail/{{restaurant.id}}">
      <span class="badge">{{restaurant.id}}</span> {{restaurant.name}}
    </a>
    <button class="delete" title="delete restaurant" (click)="delete(restaurant)">x</button>
  </li>
</ul>

