<div class="header-nav">
    <div class="col-md-12 col-sm-12 navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand">
                <img class="logo" src="assets/logo_dark.png"> </a>
        </div>
    </div>
    <div >
        <p class="slogan1">
            <span class="elmenus">elmenus</span> helps you decide what to eat
        </p>
    </div>
    <div class="search">
        <app-restaurant-search></app-restaurant-search>
    </div>
    <div>
        <p class="slogan2"><span class="bike"></span> Restaurants Delivering to your area in Alexandria</p>
    </div>
</div>

